/* Normalize */
body {
    margin: 0;
    background: #000;
}

/* Helpers */
.hidden {
    display: none !important;
}

.button {
    height: 52px;
    width: 100%;
    display: block;
    border: none;
    background: #111111;
    font-size: 14px;
    margin-bottom: 14px;
}

/* Phaser */
.phaser-container {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    z-index: -1;
}

/* Start menu */
.start-menu {
    z-index: 100;
    max-width: 480px;
    width: 100%;
    z-index: 10;
    margin: 0 auto;
}

/* Color schema */
.red {
    color: #800600;
    background-color: #FF4136;
}
.green {
    color: #0E3E14;
    background-color: #2ECC40;
}
.blue {
    color: #B3DBFF;
    background-color: #0074D9;
}
